@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primery-color: #4a6fa5;
    --primery-hover: #3a5a8f;
    --secondary-color: #fff;
    --border-color: #dee2e6;
    --text-light: #6c757d;
    --backround-color: #fff;
    --medium-color: #ffc107;
    --medium-backround: rgba(255, 193, 7, 0.1);
    --high-color: #dc3545;
    --high-backround: rgba(220, 53, 69, 0.1);
    --low-color: #17a2b8;
    --low-backround: rgba(23, 162, 184, 0.1);
    --bg-secondary: #f8f9fa;
    --bg-btn: #c7cdcf;
    --overlay-bg: rgba(0, 0, 0, 0.5);
}
[data-theme="dark"] {
    --primery-color: #5d8acd;
    --primery-hover: #4a7bc1;
    --text-light: #fff;
    --bg-btn: #343a40;
    --backround-color: #212529;
    --bg-secondary: #343a40;
    --border-color: #495057;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--backround-color);
    transition: all 0.3s ease;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 2.3rem;
    color: var(--primery-color);
}
.header__btn {
    font-size: 26px;
    background: none;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.info__task {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: var(--backround-color);
    border-radius: 20px;
    box-shadow: var(--border-color) 0px 0px 20px 0px;
}
.info__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;  
}
.info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.info__number{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primery-color);
}
.info__text {
    font-size: 1rem;
    color: var(--text-light);
}
.form__block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__input {
    width: 84%;
    height: 50px;
    border: 2px solid var(--border-color);
    color: var(--text-light);
    border-radius: 10px;
    background-color: var(--backround-color);
    padding: 0 15px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}
.form__input::placeholder {
    color: var(--text-light);
    
}
.form__input:focus {
    transition: all 0.3s ease;
    border-color: var(--primery-color);
}
.form__btn {
    width: 15%;
    height: 52px;
    background-color: var(--primery-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.form__btn:hover {
    background-color: var(--primery-hover);
    transition: all 0.3s ease;
}
.task__options {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.task__filters{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.filter__select {
    min-width: 112px;
    height: 50px;
    border: 1px solid var(--border-color);
    background-color: var(--backround-color);
    color: var(--text-light);
    border-radius: 6px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.filter__select:focus {
    outline: none;
    border-color: var(--primery-color);
    transition: all 0.3s ease;
}
.task__search{
    position: relative;
}
.search__input {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 0 5px;
    color: var(--text-light);
    border: 1px solid var(--border-color);
    background-color: var(--backround-color);
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.search__input:focus {
    border-color: var(--primery-color);
    transition: all 0.3s ease;
}
.search__input::placeholder {
    color: var(--text-light);
}
.search__btn{
    position: absolute;
    right: 10px;
    top: 16px;
    background: none;
    border: none;
    font-size: 18px;
    color: var(--text-light);
    cursor: pointer;
}
.task__list {
    margin-top: 30px;
}
.task__items{
    list-style: none;
}
.task__item {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--backround-color);
    border-bottom: 2px solid var(--border-color);
    box-shadow: var(--border-color) 1px 1px 10px 1px;
    cursor: pointer;
}
.task__item:hover {
    background-color: var(--bg-secondary);
    transition: all 0.3s ease;
}
.task__item:first-child {
    border-radius: 10px 10px 0 0;
}
.task__item:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
}
.task__cheackbox {
    min-width: 20px;
    min-height: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.task__text {
    word-break: break-word;
    margin-top: 6px;
    flex-grow: 1;
    margin-left: 15px;
    font-size: 0.9rem;
    color: var(--text-light);
}
.task__priority{
    font-size: 14px;
    margin-right: 15px;
}
.task__medium{
    color: var(--medium-color);
    background-color: var(--medium-backround);
    padding: 5px 10px;
    border-radius: 10px;
}
.task__high{
    color: var(--high-color);
    background-color: var(--high-backround);
    padding: 5px 10px;
    border-radius: 10px;
}
.task__low {
    color: var(--low-color);
    background-color: var(--low-backround);
    padding: 5px 10px;
    border-radius: 10px;
}
.task__actions {
    display: flex;
    gap: 10px;
}
.btn__icon {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--text-light);
    transition: all 0.3s ease;
}

.btn__icon :hover {
    color: var(--primery-color);
    transition: all 0.3s ease;
}
.modal__notask {
    height: 200px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    background-color: var(--backround-color);
    box-shadow: var(--border-color) 0px 0px 20px 0px;
    padding: 20px;
    color: var(--text-light);
    border-radius: 10px;
}
.modal__cheklist {
    margin-top: 10px;
    font-size: 46px;
}
.modal__notask-text {
    padding-top: 10px;
}
.modal__notask__subtext{
    padding-top: 10px;
    font-size: 1rem;
}

.task-details-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg);
    z-index: 10;
}
    


.modal-content {
    position: absolute;
    border-radius: 10px;
    box-shadow: var(--border-color) 0px 0px 20px 0px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 420px;
    padding: 20px;
     display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--backround-color);
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-light);
}
h2.modal-title {
    color: var(--primery-color);
    margin-bottom: 10px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    color: var(--text-light);
    font-weight: 500;
    margin-bottom: 5px;
}
.modal-body {
    margin-top: 10px;
}
.form-control {
    width: 100%;
    padding: 8px;
    background-color: var(--backround-color);
    color: var(--text-light);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
[data-theme="dark"] {
    color-scheme: dark;
}
.form-control:focus {
    outline: none;
    border-color: var(--primery-color);
    transition: all 0.3s ease;
}
.category-input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-icon {
    background: none;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    color: var(--text-light);
    transition: all 0.3s ease;
}
.modal-actions {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}
.btn-primary {
    background-color: var(--primery-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
.btn-secondary{
    background-color: var(--border-color);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background-color: var(--primery-hover);
    transition: all 0.3s ease;
}
.btn-secondary:hover {
    background-color: var(--bg-btn);
    color: var(--text-light);
    transition: all 0.3s ease;
}

.task__dueDate {
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    color: var(--text-light);
    margin-top: 5px;
}
.category__tag {
    display: inline-block;
    background-color: var(--bg-btn);
    color: var(--text-light);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
}
.remove__category.btn-icon{
    margin: -10px 0;
    padding-left: 5px;
}